<!DOCTYPE html>
<html lang="en">
  <head>
    <!-- Meta tags per caratteri e viewport -->
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- Collegamenti a fogli di stile esterni -->
    <link href="https://cdn.jsdelivr.net/npm/remixicon@3.2.0/fonts/remixicon.css" rel="stylesheet" />
    <link rel="stylesheet" href="static/style.css" />
    <title>ComicSnap</title>
  </head>
  <body>
    <!-- Barra di navigazione -->
    <nav class="section__container nav__container">
      <!-- Logo -->
      <a href="/" class="nav__logo">COMICSNAP</a>
      <!-- Menu di navigazione principale -->
      <ul class="nav__links">
        <li class="link"><a href="index.html" class="active">HOME</a></li>
        <li class="link"><a href="raccolta.html">RACCOLTA</a></li>
      </ul>
      <!-- Icone per autenticazione e ricerca -->
      <div class="nav__icons">
        <span id="user-auth-icon">
          <i class="ri-shield-user-line"></i>
        </span>
        <span>
            <i class="ri-search-line"></i>
            <!-- Dropdown per la ricerca -->
            <div id="search-dropdown" class="search-dropdown">
                <input type="text" id="search-input" placeholder="Cerca fumetti...">
            </div>
        </span>
      </div>
    </nav>
    
    <!-- Header principale -->
    <header>
      <div class="section__container header__container">
        <!-- Contenuto testuale dell'header -->
        <div class="header__content">
          <h1>Indeciso su cosa leggere? <br /> Non temere: scopri fumetti selezionati per conquistarti pagina dopo pagina... <br /> PLUS ULTRA! </h1>
          <button class="btn">OTTIENI RACCOMANDAZIONI</button>
        </div>
        <!-- Immagini dell'header con effetto hover -->
        <div class="header__image">
          <img src="static/assets/AllMight.png" alt="header" class="main-image" />
          <img src="static/assets/AllMight2.png" alt="alternative" class="hover-image" />
        </div>
      </div>
    </header>

    <!-- Sezione "Da non perdere" -->
    <section class="section__container mustread__container">
      <h2 class="section__title">Da non perdere</h2>
      <!-- Griglia di fumetti consigliati -->
      <div class="mustread__grid">
        <!-- Card individuali dei fumetti -->
        <div class="mustread__card">
          <img src="static/assets/Spider-Man_2099.png" alt="Img di SpiderMan2099" />
          <h4>Spider-Man 2099</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/Daredevil.png" alt="Img di Daredevil" />
          <h4>Daredevil: Rinascita</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/X-Men.png" alt="Img di XMen" />
          <h4>X-Men: La saga di Fenice Nera</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/Superman.png" alt="Img di Superman" />
          <h4>Superman - Su nel cielo</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/DB_Super.png" alt="Img di Dragonball" />
          <h4>Dragon Ball Super</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/MyHero.png" alt="Img di MHA" />
          <h4>My Hero Academia</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/OnePiece.png" alt="Img di OP" />
          <h4>One Piece</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/Naruto2.png" alt="Img di Naruto" />
          <h4>Naruto - Il mito</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/AOT.png" alt="Img di AOT" />
          <h4>Attack on Titan</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/Demon.png" alt="Img di DS" />
          <h4>Demon Slayer</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/Evangelion.png" alt="Img di Evangelion" />
          <h4>Neon Genesis Evangelion</h4>
        </div>
        <div class="mustread__card">
          <img src="static/assets/DeathNote.png" alt="Img di DN" />
          <h4>Death Note</h4>
        </div>
      </div>
    </section>

    <!-- Sezione "Ultime uscite" -->
    <section class="news">
      <div class="section__container news__container">
        <h2 class="section__title">ULTIME USCITE</h2>
        <!-- Griglia delle ultime uscite -->
        <div class="mustread__grid">
          <div class="mustread__card">
            <img src="static/assets/Jujutsu.png" alt="Jujutsu" />
            <h4>Jujutsu Kaisen - Sorcery Fight</h4>
          </div>
          <div class="mustread__card">
            <img src="static/assets/Chainsaw.png" alt="Chainsaw" />
            <h4>Chainsaw Man</h4>
          </div>
          <div class="mustread__card">
            <img src="static/assets/Assassin.png" alt="Assassination" />
            <h4>Assassination Classroom</h4>
          </div>
          <div class="mustread__card">
            <img src="static/assets/Blue.png" alt="BlueLock" />
            <h4>Blue Lock</h4>
          </div>
        </div>
      </div>
    </section>
    
    <!-- Sezione dei brand -->
    <section class="section__container brands__container">
      <div class="brand__image">
        <img src="static/assets/Spider-Man.png" alt="brand Spiderman" />
      </div>
      <div class="brand__image">
        <img src="static/assets/Goku.png" alt="brand Goku" />
      </div>
      <div class="brand__image">
        <img src="static/assets/CaptainAmerica.png" alt="brand CapAmerica" />
      </div>
      <div class="brand__image">
        <img src="static/assets/Todoroki.png" alt="brand Todoroki" />
      </div>
      <div class="brand__image">
        <img src="static/assets/Deadpool.png" alt="brand DP" />
      </div>
      <div class="brand__image">
        <img src="static/assets/Naruto.png" alt="brand Naruto" />
      </div>
    </section>

    <!-- Footer -->
    <footer class="section__container footer__container">
      <div class="footer__col footer__logo-col">
        <span class="footer__logo">COMICSNAP</span>
      </div>
      <!-- Dettagli del progetto e crediti -->
      <div class="footer__col footer__project-details">
        <div class="project__partners">
          <p>Castrese Luca Lucciola / 0124002532</p>
          <p>Mauro Silvestro / 0124002859</p>
        </div>
      </div>
    </footer>
    <!-- Collegamenti a script JavaScript -->
    <script src="static/script.js"></script>
  </body>
</html>